################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/WebUi/bin
/WebUi/obj/Debug
/WebUi/.vs/WebUi
/.vs/WebUi
